@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');
//COLORS
$mainColor: #1D3557;
$secondaryColor: #B5C8F3;
$complementaryColor: #D7F4F1;
$accentColor: #2B8F89;
//FONTS
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: 'Times New Roman', Times, serif;
$sassyFont:'Pacifico', cursive;
$innerFont: 'Roboto', sans-serif;
